*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* media for contianer*/
/*small*/
@media (min-width: 768px){
  .container{
      width: 750px;
  }
}

/*medium*/
@media (min-width: 992px){
  .container{
      width: 970px;
  }
}

/*larg*/
@media (min-width: 1200px){
  .container{
      width: 1170px;
  }
}
.mainContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.mainHeading{
  text-align: center;
  margin-bottom: 30px;
}

.mainHeading h1{
  color: #2487CE;
  font-size: 40px;
}

.container{
  text-align: center;
}
@media(min-width: 768px){
  .container{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 20px;
  }
}

.cardsItem{
  background-color: #f3f9fd;
  padding: 30px;
  position: relative;
}

.cardsItem h2{
  color: #2487CE;
  font-size: 40px;
}

.cardsItem p{
  margin: 20px 0;
}
.cardsItem a{
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    color: #fff;
    background-color: #124265;
    width: 140px;
    height: 40px;
    margin: 20px auto;
    line-height: 40px;
    border-radius: 10px;
    transition: background-color .5s;
}

.cardsItem a:hover{
  background-color: #2487CE;

}

.cardsItem .icon{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}






